---
layout: default
site_index: true
title: Barefoot Web Developer
---

<h2>Posts</h2>

<section id=posts>
  {% for post in site.posts %}
    <article>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </article>
  {% endfor %}
</section>

<h2 class=projects>Open Source <span class=amp>&amp;</span> Other Projects</h2>

<section id=projects>
  {% for project in site.data.projects %}
    <article>
      <a href="{{ project.url }}">{{ project.name }}</a>
      &ndash;
      <span>{{ project.description }}</span>
    </article>
  {% endfor %}
</section>
