---
import { getCollection, render } from "astro:content";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import MainLayout from "../layouts/MainLayout.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    return {
      params: { slug: post.id },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;

const date = post.filePath?.match(/(\d{4}-\d{2}-\d{2})/);
if (!date) {
  throw new Error("Post date not found in file path");
}
const d = new Date(date[0]);
const { Content } = await render(post);
---

<MainLayout title={post.data.title}>
  <article class=post>
    <header>
      <h1>{post.data.title}</h1>
      <div class=meta>
        <time>Posted on {d.toISOString().split("T")[0]}</time>
        <span>by Odin Dutton</span>
      </div>
    </header>

    <Content />
  </article>
</MainLayout>