---
import { getCollection } from "astro:content";
import PhotoLayout from "../layouts/PhotoLayout.astro";

const albums = await getCollection("photos");
---

<style>
  ul {
    margin-top: 1rem;
  }

  li {
    margin-bottom: 0.3rem;
  }
</style>

<PhotoLayout title="Photos" isAlbumPage={false}>
  <ul>
    {albums.map((album) => (
      <li>
        <a href={`/photos/${album.id}`}>{album.data.title}</a>
      </li>
    ))}
  </ul>
</PhotoLayout>