@import url('/assets/stylesheets/reset.css');

html {
  background: #fff;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 140%;
  min-height: 320px;
}

p {
  margin-bottom: 20px;
}

a {
  color: #000;
}

em {
  font-style: italic;
}

hr {
  border: 0;
  width: 80%;
  height: 2px;
  margin-bottom: 20px;
  color: #ccc;
  background-color: #ccc;
}

small {
  font-size: 14px;
}

strong {
  font-weight: bold;
}

blockquote{
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

blockquote cite {
  display: block;
  margin-left: 20px;
}

section#wrap {
  width: 620px;
  margin: 0 auto;
}

section#wrap ul {
  margin: 0 0 20px 20px;
}

section#wrap ul li {
  list-style: disc;
}

section#wrap > header {
  text-align: center;
  padding: 80px 0 40px;
  margin-bottom: 20px;
}

section#wrap > header a {
  text-decoration: none;
}

section#wrap > header h2 {
  font-size: 20px;
  color: #666;
}

section#wrap > header h2 span,
section#wrap > header h2 span a {
  color: #999;
}

section#wrap > header ul#social {
  margin: 10px auto;
  width: 158px;
}

ul#social li {
  float: left;
  margin-right: 10px;
  list-style: none;
}

ul#social li:last-child {
  margin-right: 0;
}

ul#social li a {
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9001px;
  background: url('/assets/images/social.png') no-repeat;
  background-size: 143px 69px;
}

ul#social li a.twitter  { background-position: 0 0; }
ul#social li a.github   { background-position: -37px 0; }
ul#social li a.contact  { background-position: -74px 0; }
ul#social li a.feed     { background-position: -111px 0; }

ul#social li a:active {
  position: relative;
  top: 1px;
}

ul#social li a:hover {
  background-position-y: -37px;
}

h2.projects span.amp {
  font-size: 26px;
}

section#posts,
section#projects {
  margin-bottom: 30px;
}

section#posts article,
section#projects article {
  margin-bottom: 5px;
}

section#posts article time {
  white-space: nowrap;
}

section#posts article,
section#projects article {
  margin-bottom:5px;
}

section#posts article a {
  padding: 2px;
  margin: -2px;
}

article.post {
  background: #fff;
  border-radius: 2px;
}

article.post a {
}

article.post header {
  text-align: center;
  margin: 10px 0 20px;
}

article.post header .meta {
  font-size: 14px;
  color: #999;
  margin: -14px 0 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  position: relative;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  top: 4px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

article h1 {
  font-size: 28px;
  line-height: 30px;
}

code, pre {
  font-family: Monaco, monospace;
}

p code {
  background: #eee;
  padding: 1px 5px;
}

pre {
  padding: 10px 12px 8px;
  margin: -7px 0 20px;
  overflow-x: auto;
}

footer {
  text-align: center;
  margin: 0 0 20px;
  color: #999;
}

footer em {
  position: relative;
  top: 1px;
}
