@import url('/assets/stylesheets/reset.css');

html {
  background: #171717 url('/assets/images/noise.jpg');
}

body {
  background: url('/assets/images/background.jpg') no-repeat top center;
  font: 14px/20px 'Helvetica Neue', Arial, Helvetica, Sans-Serif;
  color: #eee;
  min-height: 320px;
}

p {
  margin-bottom: 20px;
}

a {
  color: #fff;
}

em {
  font-style: italic;
}

hr {
  border: 0;
  width: 80%;
  height: 2px;
  margin-bottom: 20px;
  color: #ccc;
  background-color: #ccc;
}

small {
  font-size: 12px;
}

strong {
  font-weight: bold;
}

blockquote{
  border-left: 2px solid #ccc;
  padding-left: 20px;
  font-family: Georgia, Serif;
}

blockquote cite {
  display: block;
  margin-left: 20px;
}

section#wrap {
  width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}

section#wrap ul {
  margin: 0 0 20px 20px;
}

section#wrap ul li {
  list-style: disc;
}

section#wrap > header {
  padding: 80px 0 40px;
}

section#wrap > header h1,
section#wrap > header h2 {
  text-indent: -9001px;
}

section#wrap > header a.logo {
  display: block;
  width: 304px;
  height: 73px;
  margin: 0 0 0 -22px;
  background: url('/assets/images/logo.png') no-repeat;
}

section#wrap > header a.logo:focus {
  position: relative;
  top: 1px;
}

section#wrap > header span {
  float: right;
  margin: -72px 0 0 0;
  color: #999;
  font-size: 12px;
}

section#wrap > header span a {
  display: inline-block;
  width: 50px;
  height: 13px;
  padding: 1px 4px 2px;
  position: relative;
  top: 4px;
  color: #999;
  text-indent: -9001px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5) url('/assets/images/ennova.png') no-repeat bottom center;
}

section#posts {
  margin-bottom: 20px;
}

section#posts article {
  margin-bottom: 5px;
}

section#posts article time {
  color: #999;
}

section#posts article {
  margin-bottom:5px;
}

section#posts article time {
  color:#999;
}

section#posts article a {
  padding: 2px;
  margin: -2px;
}

article.post {
  padding: 20px 20px 10px;
  margin: 0 -20px 20px;
  background: #fff;
  color: #111;
}

article.post a{color:#111;}

article.post header {
  margin-bottom:19px;
}

article.post header .meta {
  color: #999;
  font-size: 12px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
}

article h1 {
  font-size: 28px;
  margin-bottom: 3px;
  line-height: 30px;
  color: #333;
}

article h2 {
  font-size: 24px;
  top: 4px;
  font-weight: normal;
  padding-top: 10px;
  border-top: 2px solid #ccc;
  margin-bottom: 15px;
}

article h3 {
  font-size: 20px;
}

article h4 {
  font-size: 18px;
}

article h5 {
  font-size: 16px;
}

article h6 {
  font-size: 14px;
}

code, pre {
  font-family: Menlo, 'DejaVu Sans Mono', Monaco, Courier, 'Courier New', monospace;
}

p code {
  background: #eee;
  padding: 1px 5px;
}

pre{
  background: #002f4f;
  color: #fefefe;
  padding: 5px 20px;
  margin: -7px -20px 20px;
  overflow-x: auto;
  border-top: 1px solid #000;
}

pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

pre::-webkit-scrollbar-thumb {
  background-color: rgba(#000, 0.2);
}

pre::-webkit-scrollbar-track-piece {
  background-color: rgba(#000, 0.1);
}

footer {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin: 0 0 20px;
}

footer a {
  color: #999;
}

footer em {
  position: relative;
  top: 1px;
}
