@import url('/assets/stylesheets/reset.css');

html {
  background: #171717 url('/assets/images/noise.jpg');
}

body {
  background: url('/assets/images/background.jpg') no-repeat top center;
  font-family: 'Helvetica Neue', Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 20px;
  color: #eee;
  min-height: 320px;
}

p {
  margin-bottom: 20px;
}

a {
  color: #fff;
}

em {
  font-style: italic;
}

hr {
  border: 0;
  width: 80%;
  height: 2px;
  margin-bottom: 20px;
  color: #ccc;
  background-color: #ccc;
}

small {
  font-size: 12px;
}

strong {
  font-weight: bold;
}

blockquote{
  border-left: 2px solid #ccc;
  padding-left: 20px;
  font-family: Georgia, Serif;
}

blockquote cite {
  display: block;
  margin-left: 20px;
}

section#wrap {
  width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}

section#wrap ul {
  margin: 0 0 20px 20px;
}

section#wrap ul li {
  list-style: disc;
}

section#wrap > header {
  padding: 80px 0 40px;
}

section#wrap > header h1,
section#wrap > header h2 {
  text-indent: -9001px;
}

section#wrap > header a.logo {
  display: block;
  width: 304px;
  height: 73px;
  margin: 0 0 0 -22px;
  background: url('/assets/images/logo.png') no-repeat;
}

section#wrap > header a.logo:active {
  position: relative;
  top: 1px;
}

section#wrap > header span {
  float: right;
  margin: -72px 0 0 0;
  color: #999;
  font-size: 12px;
}

section#wrap > header span a {
  display: inline-block;
  width: 50px;
  height: 13px;
  padding: 1px 4px 2px;
  position: relative;
  top: 4px;
  color: #999;
  text-indent: -9001px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5) url('/assets/images/ennova.png') no-repeat bottom center;
}

section#wrap > header ul#social {
  margin: 10px 0 0 0;
}

ul#social li {
  float: left;
  margin-right: 10px;
  list-style: none;
}

ul#social li a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9001px;
  background: url('/assets/images/social.png') no-repeat;
}

ul#social li a.twitter  { background-position: 0 0; }
ul#social li a.dribbble { background-position: -52px 0; }
ul#social li a.contact  { background-position: -78px 0; }
ul#social li a.feed     { background-position: -104px 0; }
ul#social li a.github   { background-position: -130px 0; }

ul#social li a:active {
  position: relative;
  top: 1px;
}

section #projects article span {
  color: #999;
}

h2.projects {
  text-shadow: 0 2px 0 #000;
}

h2.projects span.amp {
  font-size: 26px;
}

section#posts,
section#projects {
  margin-bottom: 30px;
}

section#posts article,
section#projects article {
  margin-bottom: 5px;
}

section#posts article time {
  color: #999;
}

section#posts article,
section#projects article {
  margin-bottom:5px;
}

section#posts article a {
  padding: 2px;
  margin: -2px;
}

article.post {
  padding: 40px 40px 20px;
  margin: 0 -40px 20px;
  background: #fff;
  color: #111;
  border-radius: 2px;
}

article.post a {
  color: #111;
}

article.post header {
  text-align: center;
  margin: 10px 0 20px;
}

article.post header .meta {
  color: #999;
  font-size: 12px;
  margin: -14px 0 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  font-family: 'Hoefler Text', 'Baskerville old face', Garamond, 'Times New Roman', serif;
}

h2 {
  font-size: 24px;
  top: 4px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

article h1 {
  font-size: 28px;
  line-height: 30px;
  color: #333;
}

code, pre {
  font-family: Monaco, monospace;
}

p code {
  background: #eee;
  padding: 1px 5px;
}

pre{
  background: #eee;
  color: #222;
  padding: 5px 40px;
  margin: -7px -40px 20px;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-width: 1px 0;
}

pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

pre::-webkit-scrollbar-thumb {
  background-color: rgba(#000, 0.2);
}

pre::-webkit-scrollbar-track-piece {
  background-color: rgba(#000, 0.1);
}

footer {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin: 0 0 20px;
}

footer a {
  color: #999;
}

footer em {
  position: relative;
  top: 1px;
}
