<!DOCTYPE html>
<html>
  <head>
    <title>Odin Dutton</title>
    <link href=/assets/stylesheets/style.css media=screen rel=stylesheet type=text/css />
  </head>
  <body>
    <section id=wrap>
      <header>
        <a href=/ class=logo>
          <h1>Odin Dutton</h1>
          <h2>Barefoot Web Developer</h2>
        </a>
        <span>
          I work at
          <a href=http://ennova.com.au/?ref=odindutton.com>Ennova</a>
        </span>
        <ul id=social>
          <li><a href=http://twitter.com/twe4ked class=twitter>Twitter</a></li>
          <li><a href=https://github.com/twe4ked class=github>Github</a></li>
          <li><a href=http://dribbble.com/odin class=dribbble>Dribbble</a></li>
          <li><a href=mailto:m%65%2bw%65bsite%40%6fdin&#100;utt%6fn.%63om class=contact>Contact</a></li>
          <li><a href=/feed class=feed>Feed</a></li>
        </ul>
      </header>
      {{ content }}
    </section>
    <footer>
      <small>
        &copy; Copyright {{ site.time | date: "%Y" }}
        <em>&bull;</em>
        Odin Dutton
      </small>
    </footer>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4feba537613f5d3e5600008f');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
