<!DOCTYPE html>
<html>
  <head>
    <title>Odin Dutton</title>
    <link href=/assets/stylesheets/style.css media=screen rel=stylesheet type=text/css />
  </head>
  <body>
    <section id=wrap>
      <header>
        <a href=/ class=logo>
          <h1>Odin Dutton</h1>
          <h2>Barefoot Web Developer</h2>
        </a>
      </header>
      {{ content }}
    </section>
    <footer>
      <small>
        &copy; Copyright {{ site.time | date: "%Y" }}
        <em>&bull;</em>
        Odin Dutton
      </small>
    </footer>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4feba537613f5d3e5600008f');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
