<!DOCTYPE html>
<html>
  <head>
    <title>Odin Dutton &ndash; {{page.title}}</title>
    <link href=/assets/stylesheets/style.css media=screen rel=stylesheet type=text/css />
    <link href=/assets/stylesheets/monokai.css media=screen rel=stylesheet type=text/css />
    <script src=http://code.jquery.com/jquery-1.11.0.min.js></script>
    <script src=/assets/javascripts/application.js></script>
  </head>
  <body>
    <section id=wrap>
      <header>
        <a href=/><h1>Odin Dutton</h1></a>
        <h2>
          Barefoot Web Developer
          <span>
            @ Locating...
          </span>
        </h2>
        <ul id=social>
          <li><a href=http://twitter.com/twe4ked class=twitter>Twitter</a></li>
          <li><a href=https://github.com/twe4ked class=github>Github</a></li>
          <li><a href=mailto:m%65%2bw%65bsite%40%6fdin&#100;utt%6fn.%63om class=contact>Contact</a></li>
          <li><a href=/feed class=feed>Feed</a></li>
        </ul>
      </header>
      {{ content }}
    </section>
    <footer>
      <small>
        &copy; Copyright {{ site.time | date: "%Y" }}
        <em>&bull;</em>
        Odin Dutton
      </small>
    </footer>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4feba537613f5d3e5600008f');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
