---
const { title } = Astro.props;

import "../assets/stylesheets/style.sass";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Odin Dutton{ title ? ` – ${title}` : ""}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
    	<slot />
	</body>
</html>
