---
const GIT_COMMIT = process.env.GIT_COMMIT || "unknownERROR"; // ERROR ensures we truncate
const { title } = Astro.props;
const site = {
  github: {
    build_revision: GIT_COMMIT.slice(0, 7),
  },
  time: new Date().getFullYear(),
};

import "../assets/stylesheets/style.sass";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Odin Dutton{ title ? ` – ${title}` : ""}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<header>
			<a href="/"><h1>Odin Dutton</h1></a>
			<h2>Software Engineer</h2>
			<ul id="social">
				<li>
					<a href="http://twitter.com/twe4ked" class="twitter"
						>Twitter</a
					>
				</li>
				<li>
					<a href="https://github.com/twe4ked" class="github"
						>Github</a
					>
				</li>
				<li>
					<a
						href="javascript:window.location.href='mail'+['to:odindutton',['gm','ail'].join('')].join('@')+'.com'"
						class="contact">Contact</a
					>
				</li>
				<li><a href="/feed" class="feed">Feed</a></li>
			</ul>
			<a
				href="https://github.com/twe4ked/odindutton.com/commit/{{ site.github.build_revision }}"
				class="ref">{site.github.build_revision}</a
			>
		</header>

		<div id="cover"></div>

		<section id="content">
			<section id="wrap">
				<slot />
			</section>

			<footer>
				<small>
					&copy; Copyright 2013&ndash;{site.time}
					<em>&bull;</em>
					Odin Dutton
					<br />
					<a href="/no-script">&lt;noscript /&gt;</a>
				</small>
			</footer>
		</section>
	</body>
</html>
