---
const { title } = Astro.props;

import "../assets/stylesheets/style.sass";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{title ? (
			<title>Odin's&mdash;{title}</title>
		) : (
			<title>Odin's</title>
		)}
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
    	<slot />
	</body>
</html>
