---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <article class=post>
    <header>
      <h1>{ frontmatter.title }</h1>
      <div class=meta>
        <!-- <time pubdate>Posted on { date }</time> -->
        <span>by Odin Dutton</span>
      </div>
    </header>

    <slot />
  </article>
</Layout>